<p>checkout works!</p>
 <h2 class> you click on :{{single_product_id}}</h2>


 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a routerLink="/buyer-dashboard" >buyer</a></li>
    <li class="breadcrumb-item"><a >checkout</a></li>
    </ol>
 </nav>

 <div class="row">
     <div class="col-md-8">
       <div class="card">
        <div class="card-header">
            Product detail
        </div>
        <div class="card-body product-detail">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{individual_product.uploadPhoto}}" class="card-img-top" alt="{{individual_product.name}}">
                </div>
                <div class="col-md-8">
                    <h4 class="text-bold card-title">
                        {{individual_product.name}}
                    </h4><br>
                    <p class="carr-text product-desc">{{individual_product.uploadDesc}}</p>   
                    <p><span class="float-left"><strong>
                        MRP : 
                    </strong> <del>
                        {{individual_product.mrp}}
                    </del></span>
                    <span class="float-left"><strong>
                    Dp : 
                    </strong> <del>
                        {{individual_product.dp}}
                    </del></span></p>
                </div>
            </div>
        </div>
       </div>         
    </div>
    
</div>